@font-face {
    font-family: "FC Palette";
    src: url('fonts/FC Palette.ttf') format('truetype'),
}

:root {
    --primary-text-color: #fff;
    --primary-btn-color: #ffde59;

    --secondary-text-color: #000;
}

* {
    color: var(--primary-text-color);
    font-family: 'FC Palette', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}